<!DOCTYPE html>
<html>
  <head>
    <title>OnlinewalkSale</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
    <h1><%= link_to "OnlineWalk.sale", :root %></h1> 
    <%= yield %>
     
    </div>
  </body>
</html>
